    
<link rel = "stylesheet" href="/css/footer.css">    
    <!-- footer -->
    <footer>
        <div class="about">
          <br>
          <h1><span class="logo-text">FullyLink</h1>
          <!-- Contacts -->
          <div class="contact", style="color: white;">
            <p>
              Contacts and Address 
            </p>
            <span>
              <i class="fas fa-phone"></i>
              + (657) 278 2011
            </span>
            <br>
            
            <span>
              <i class="fas fa-envelope"></i>
                800 N State College Blvd, Fullerton, CA 928311 <br><br>
            </span>
            
          </div>
          <!-- socials -->
          <div class="socials">
            <a href="https://www.youtube.com/c/inovotek-academy">
              <i class="fab fa-youtube"></i>
            </a>
            <a href="https://www.youtube.com/c/inovotek-academy">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.youtube.com/c/inovotek-academy">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.youtube.com/c/inovotek-academy">
              <i class="fab fa-facebook"></i>
            </a>
           
      </footer>